<h1> <%= @post.title %> </h1>
<p><%= @post.content %></p>
<% @post.categories.each do |category| %>
  <%= category.name %>
<% end %>
<%= @post.comments.each do |comment| %>
  <%= comment.user.username %> says: <%= comment.content %>
  <% end %>
<%= @post.comments.map(&:user).uniq.each { |user| %>
  <%= link_to user.username, user_path(user) %>
<% } %>
<br><br>
<li>
  <ol>
    <%= @comment.user.username %> says: <%= @comment.content %>
  </ol>
</li>
<br><br>

<%= form_for @comment do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.collection_select :user_id, User.all, :id, :username, {:include_blank => 'Please Select'} %>
  <%= f.fields_for :user, @comment.user do |user_field| %>
    <%= user_field.label :username %>
    <%= user_field.text_field :username %>
  <% end %>
  <%= f.submit %>
<% end %>
