<h1> <%= @post.title %> </h1>
<p><%= @post.content %></p>
<% @post.categories.each do |category| %>
  <%= category.name %>
<% end %>
<%= @post.comments.each do |comment| %>
  <%= comment.content %>
  <% end %>
<%= @post.comments.map(&:user).uniq.each { |user| %>
  <%= link_to user.username, user_path(user) %>
<% } %>

<br><br>

<%= form_for @post, :url => { :controller => 'comments', :action => "create" } do |f| %>
  <%= fields_for :comment, @post.comments.build do |comment_field| %>
    <%= comment_field.text_field :content %>
  <% end %>
  <br
  <%= f.submit "Create comment" %>
<% end %>
